@CHARSET "UTF-8";

header {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 8px;
    width: 100%;
}

footer {
	margin-top: 50px;
	padding-top: 50px;
	text-align: center;
    width: 100%;
}

.menu {
	display: inline-flex;
}

.logo {
	float: left;
}

.navigation {
	float: right;
	margin-top: 12px
}

.navigation a {
	font-size: 20px;
    color: white;
    margin: 5px;
}

.page_title {
	margin-bottom: 30px;
}

.board {
	margin : 50px
}

.center {
	margin: 0 auto;
	text-align: center;
}

.search {
	width: 500px;
}

.pagination {
	display: block;
	font-size: 20px;
}

.page {
	margin: 3px;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  
  color: #444;
  background-color: #fff;
  
  padding: .6em 1.4em .5em .8em;
  margin: 0;
  
  border: 1px solid #aaa;
  border-radius: .5em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

table a {
	cursor: hand;
}