<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myapp.mapper.BoardMapper">

	<!-- 게시물 검색 -->
	<select id="board" resultType="com.spring.myapp.vo.BoardVO" parameterType="com.spring.myapp.vo.SearchVO">
		SELECT *
		FROM board
		<if test="searchkey == 'title'">
    		where title like concat('%', #{searchword}, '%')
  		</if>
  		<if test="searchkey == 'writer'">
    		where writer like concat('%', #{searchword}, '%')
  		</if>
  		<if test="searchkey == 'all'">
    		where title like concat('%', #{searchword}, '%') or writer like concat('%', #{searchword}, '%')
  		</if>
  		ORDER BY reg_date DESC
  		LIMIT #{cntPerPage} OFFSET #{start}-1
	</select>
	
	<!-- 게시물 총 건수 -->
	<select id="board_cnt" resultType="int" parameterType="com.spring.myapp.vo.SearchVO">
		SELECT COUNT(*)
		FROM board
		<if test="searchkey == 'title'">
    		where title like concat('%', #{searchword}, '%')
  		</if>
  		<if test="searchkey == 'writer'">
    		where writer like concat('%', #{searchword}, '%')
  		</if>
  		<if test="searchkey == 'all'">
    		where title like concat('%', #{searchword}, '%') or writer like concat('%', #{searchword}, '%')
  		</if>
	</select>
	
	<insert id="insert" parameterType="com.spring.myapp.vo.BoardVO">
		insert into board (title, writer, contents, file_path, reg_date) values(#{title}, #{writer}, #{contents}, #{file_path}, now())
	</insert>
	
	<update id="update" parameterType="com.spring.myapp.vo.BoardVO">
		update board
		set title = #{title}, writer = #{writer}, contents = #{contents}, file_path = #{file_path}, reg_date = now()
		where id = #{id} 
	</update>
</mapper>